#bin-bin {
    background-color: #1928b4 !important;
}

.message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inp_cont{
    width: 1vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.inp_cont input{
    justify-content: start;
}

.sel_cont{
    display: flex;
    align-items: center;
}

.sel_cont input{
    justify-content: start;
}

.select_y{
    display: flex;
    align-items: center;
    gap: 2vh;
    justify-content: center;
}

.select_y button{
    align-self: flex-start;
}