/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* General */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo Black', sans-serif;

    width: 100%;
    height: 100%;

    overflow: hidden;
}

/* Header and Menu */
header {
    display: flex;

    width: 100%;
    min-height: 120px;

    background-color: #171A1F;
    color: white;

    text-align: center;
    justify-content: center;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
}

header img {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

#menu {
    background-color: #2B3FFF;
    width: 200px;
    padding-top: 20px;
    display: flex;  
    flex-direction: column;
    align-items: center; /* Centra verticalmente los elementos */
    position: relative; /* Añade posición relativa para alinear correctamente el icono */
    height: 100vh; /* Asegura que la barra lateral tenga una altura del 100% de la ventana */
}


#python-icon {
    width: 30px;
    height: 30px;
    margin-top: 10px; /* Ajusta el margen superior para separar el icono de las opciones */
}


#menu div, #menu a {
    padding: 10px;
    cursor: pointer;
    background-color: #2BC3FF;
    color: white;
    margin-bottom: 5px; /* Reducimos el margen inferior entre los divs */
}

/* binario_binario.html */

main {
    display: grid;
    grid-template-columns: auto 1fr; /* Columna del menú y columna del contenido */
}

#content {
    text-align: center;
    margin-left: -200px;
    margin-top: 65px;
}

#content h1 {
    margin-bottom: 20px;
}


#container {
    display: flex;
    min-height: 100vh;
}

h2 {
    margin-bottom: 50px;
}

select {
    margin-bottom: 70px;
}







