{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SciKitty - Binario-Binario</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        {% include 'menu.html' %}
        <div id="content">
            <h2>atributo-binario target-binario</h2>
            <div>
                <select id="listaModelos">
                    <option value="" disabled selected>Cargar modelo previo</option>
                    <!-- Options will be loaded dynamically -->
                </select>
                <button id="cargarPrev">Cargar Modelo</button>
            </div>
            <form method="post" action="{% url 'cargar_csv' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="file-drop-area">
                    <label for="file">Cargar archivo</label>
                    <input type="file" id="file" name="archivo_csv" class="file" accept=".csv">
                    <input type="hidden" name="nombre_archivo" id="nombre_archivo">
                    <button type="submit" id="upload">Upload</button>
                    <button id="cancelar">Cancelar</button>
                </div>
            </form>

            <script>
                // Obtener el nombre del archivo y almacenarlo en el campo oculto
                document.querySelector('input[type="file"]').addEventListener('change', function() {
                    document.getElementById('nombre_archivo').value = this.files[0].name;
                });
            </script>
            
        </div>
    </main>
</body>
</html>