{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SciKitty - Binario-Binario</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/binario.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        {% include 'menu.html' %}
        <div id="content">
            <h2>atributo-binario target-binario</h2>
            <div class="seleccionarModelo">
                <form method="post" action="{% url 'seleccionar_Y' %}">
                    {% csrf_token %}
                    <select id="listaModelos" name="modelo" >
                        {% for modelo in csv_list %}
                            <option value="{{ modelo }}">{{ modelo }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name='tree_action' value="load_tree">
                    <button type="submit" id="cargarPrev">Cargar</button>
                </form>
            </div>
            <h3 class="tituloCargar">Cargar archivo</h3>
            <form class="cargar" method="post" action="{% url 'seleccionar_Y' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="images" class="drop-container" id="dropcontainer">
                    <span class="drop-title">Drop files here</span>
                    or
                    <input type="file" id="file" class="file" name="archivo_csv" accept=".csv" required>
                </label>
                <div>Altura del modelo</div>
                <select id="alturaModelo" name="altura" class="select_altura">
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                </select>
                <br>
                <input type="hidden" name='tree_action' value="create_tree">
                <button class="buttonCargar" id="cancelar">Cancelar</button>
                <button type="submit" class="buttonCargar" id="upload" >Guardar</button>
            </form>
        </div>
    </main>
</body>
</html>